* {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html{
min-height:150%;
min-width:100%;
}

body{
    font-family: 'Ultra', serif;
    background:linear-gradient(blue, white , rgb(29, 29, 230));
    background-repeat:no-repeat;
    background-origin:content-box;
    background:cover/center;
    margin:0;
    padding:0;
}  
@media (min-width:188rem) {
   html{
  padding:120px;
   } 
}
img {
    width:160px;
    height:130px;
    margin-top:0;
    padding:0;
    border-radius:10%;
    box-shadow: 4px 6px rgb(160, 148, 148);
}  

h1 {
    padding-bottom: 10px;
    margin-top:1.5rem;
    font-size:30px;
    color:white;
}

.main-header{
    background-color:rgb(74, 74, 250);
    text-align:center;
    border: 2px solid blue;
    margin:0;
    padding:16px 0;
    box-shadow: 2px 2px 3px navy;
}

.clock-icon {
position:relative;
right:8%;
top:15px;
size:15px;
text-align: center;
}

.times {
position: relative;
left:7%;
bottom:15px;
display: flex;
justify-content: center;
}

.game__stars{
position: relative;
bottom:15px;
right:7%;
display: flex;
justify-content: center;
}

.replay-icon {
position: relative;
left:50rem;
bottom:35px;
border-radius:10px;
width:20px;

}

.memory__card-game{
 display:grid;
 justify-content:center;
 justify-items:space-evenly;
 padding:15px;
 margin:0 auto;
}

.replay-icon {
   /* background-color: brown;*/

    width:10px;
   /* border:1px solid rosybrown;*/
    padding:0;    
}

.game__features-icon {
 /*background-color: rgb(11, 118, 206);
 border: 2px solid blue;*/
 
 border-radius: 20px;
 display:grid;
 justify-items:space-around;
 grid-template-columns:160px 160px 160px 160px;
 justify-content: center;
 gap:15px; 
 margin:0 auto;
 }

 .game__features-icon {
   /*background-color:rgb(74, 75, 250);*/
   vertical-align:middle;
   box-shadow:4px 5px 6px gray;
   padding:5px;
   margin-left:1rem;
 }

 @media (max-width:145rem){ 
 .game__features-icon {
  /*background-color:rgb(123, 123, 241);*/
  border:2px solid rgb(135, 138, 192);
  margin:0 auto;
  padding:15px 18px;

 }  
}
 
 .game-feature { 
   list-style-type:none; 
   padding:0;
   margin:2px;
   
}
